<footer>

	<div class="footer__ctn">

		<div class="footer__nav">

			<ul>
		    {% for p in pages.children.visible %}
		    	<li>
		    		{% set active = p.active ? 'active' : '' %}
		    		<a href="{{ p.url }}" class="{{ active }}">{{ p.menu }}</a>
			    	{% if p.children.visible %}
			    	<ul>
			        	{% for p in p.children.visible %}
			        	{% set active = p.active ? 'active' : '' %}
			        	<li><a href="{{ p.url }}" class="{{ active }}">{{ p.menu }}</a></li>
			        	{% endfor %}
			    	</ul>
			    	{% endif %}
		    	</li>
			{% endfor %}
			</ul>

		</div>
		<div class="footer__legal">

			<div class="copyright">© {{ "THEME.LEGAL.COPYRIGHT"|t }} {{ "now"|date("Y") }}</div>
			<div class="credit" title="calotte.ca">{% include 'partials/logo.html.twig' %}</div>
			
		</div>
		
	</div>

</footer>
